# Внутренние материалы (не для публичного деплоя)
/Архив/
/docs/

# Системные
.DS_Store
Thumbs.db
desktop.ini

# Редакторы
.vscode/
.idea/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
